PORT=5000
NODE_ENV=development

# Neon PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:npg_RxTqa0kmg7PC@ep-dark-moon-aqjqr6a9-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secret
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=https://jewellery1-weld.vercel.app

